@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&display=swap');

body {
    font-family: 'Great Vibes', cursive;
    background: url('images/photo_2024-07-01_15-09-02.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    height: 100vh;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.invitation {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    min-height: 300px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-y: auto;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: #d4af37; /* Золотой цвет */
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.date {
    font-size: 1.5em;
    margin: 1em 0;
    font-weight: bold;
    color: #d4af37; /* Золотой цвет */
}

.roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px 0;
}

.event {
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid #d4af37; /* Золотой цвет */
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 5px 0;
    position: relative;
    box-sizing: border-box;
    padding-top: 0;
}

.event a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}

.event:hover {
    background: #ffe4c4; /* Светло-бежевый цвет */
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: #ff69b4; /* Яркий розовый цвет */
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
}

.time-address {
    font-size: 2em;
    font-weight: bold;
    color: #d4af37; /* Золотой цвет */
}

.address {
    font-size: 1.2em;
    font-weight: bold;
    color: #000000; /* Черный цвет */
}

.footer {
    margin-top: 2em;
    font-size: 2em;
    font-weight: bold;
    color: #947922; /* Золотой цвет */
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.4em;
    }

    p, .time-address {
        font-size: 1em;
    }
    .time-address {
        font-size: 2em;
    }

    .footer {
        font-size: 1.2em;
    }

    .event {
        padding: 15px;
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.2em;
    }

    p, .time-address {
        font-size: 0.9em;
    }
    .time-address {
        font-size: 2em;
    }
    .footer {
        font-size: 2em;
        margin-top: 0;
    }

    .event {
        padding: 10px;
        padding-top: 0;
    }
}